body {
  background-image: url("5453915.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  height: auto;
}
